
body{
  background-image: linear-gradient(to top, #ffffff, #d3c8ff, #a791ff, #7658ff, #2c00ff);
  background-repeat: no-repeat;
}

header{
  z-index: 2;
  width: 98.5vw;
  height: 8vh;
  margin: 0px auto;
  padding: 0px;
  left: 0px;
  top: 0px;
  /* background-color: rgb(255, 214, 186); */
}

#links{
  position: flex;
  justify-content: flex-start;
  align-self: center;
  float: right;
  margin-top: 2.8vh;
  margin-right: 30px;
}

.navlinks{
  padding: 15px 15px;
  margin: 0px 10px;
  z-index: 1;
  color: white;
  text-decoration: none;
  text-align: right;
  font-size: 1.3em;  
}

.navlinks:hover{
  background-color: rgb(255, 255, 255);
  color: black;
  border-radius: 3px;
}

#logo{
  display: flex;
  justify-content: flex-start; 
  align-items: flex-start;
  position: absolute;
  margin: 0px auto;
  top: 0px;
  padding: 0px;
  z-index: -1;
  width: 20vw;
  height: 5vh;
  float: left; 
  text-align: center;
  left: 20px;
  font-variant: small-caps;
  font-size: 1.25em;
  color: rgb(255, 255, 255);
  /* background-color: rgb(255, 214, 186); */
}

#currentpagelink{
  text-decoration: underline;
  font-weight: 900;
}

#divone{
  position: absolute;
  z-index: 1;
  margin: 0px auto;
  padding: 0px;
  width: 98vw;
  height: 100vh;
  background: url(image_2023-10-09_104027825.png) no-repeat;
  background-size: 50%;
  background-position: right;
  /* background-color: rgb(243, 243, 243); */
  border-radius: 10px;
}

main{
  position: relative;
  width: 98vw;
  min-height: 100vh;
  margin: 100px auto;
  /* background-color: rgb(255, 255, 255); */
  border-radius: 10px;
}

#divoneheader{
  position: absolute;
  width: 96.7%;
  padding: 20px;
  padding-left: 25px;
  margin: 0px auto;
  margin-bottom: 5%;
  font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-size: 2.85em;
  font-weight: lighter;
  color: rgb(224, 244, 253);
  text-shadow: 3px 1px 2px rgb(23, 102, 204);
}

#informationparagraph{
  position: flex;
  justify-content: flex-start;
  padding-top: 25vh;
  padding-left: 30px;
  color: rgb(26, 52, 167);
  text-shadow: 1px 1px 2px rgb(201, 219, 233);
  font-size: 1.3em;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-weight: bold;
  word-spacing: .1em;
}

#favquote{
  position: absolute;
  padding-top: 6vh;
  padding-left: 4vw;
  font-weight: lighter;
  font-size: 3em;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  color: rgb(0, 31, 209);
}

#interestheader{
  padding: 20px;
  font-size: 3em;
  color: rgb(224, 244, 253);
  text-shadow: 3px 1px 2px rgb(23, 102, 204);
}

#interestpara{
  text-align: center;
  margin: 0px auto;
  width: fit-content;
  padding: 15px;
  font-size: 2em;
  font-weight: lighter;
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  background-color: rgb(255, 255, 255);
  color: rgb(48, 112, 136);
  border-radius: 10px;
  border-bottom: 8px solid #8bbcff;
}

#projectsheader{
  padding: 0;
  margin: 4px auto;
  text-align: center;
  font-size: 5em;
  font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  font-weight: lighter;
  font-variant: small-caps;
  color: rgb(224, 244, 253);
  text-shadow: 3px 1px 2px rgb(23, 102, 204);
}

#projectone{
  display: flex;
  position: absolute;
  justify-content: flex-start;
  align-items: flex-start;
  top: 11.5vh;
  margin-right: 0px;
  margin-left: 1vw;
  border-bottom: 15px solid #cae0ff;
  border-top-left-radius: 0px;
  border-radius: 10px;
  background-color: rgb(255, 255, 255);
}

#projectoneimage{
  position: absolute;
  display: flex;
  top: 0px;
  width: 30vw;
  height: 28.5vh;
  z-index: 1;
  background: url(Document-Opera10_10_202312_19_15AM.png) no-repeat;
  background-size: cover;
  border-top-right-radius: 7px;
  border-top-left-radius: 7px;
  border-bottom-left-radius: 2px;
  border-bottom-right-radius: 2px;
}

#projectonedesc{
  position: absolute;
  padding: 1vh;
  margin: 1vh auto;
  width: 25vw;
  height: 16vh;
  top: 18.5vw;
  left: 6%;
  font-size: .9em;
  border-radius: 10px;
  border-bottom: 2px solid grey;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-weight: bold;
  background-color: rgb(248, 248, 248);
  color: #4f90b6;
}

#projectonelink{
  position: absolute;
  margin: 11.3vh auto;
  margin-bottom: 0px;
  height: 4vh;
  padding: 5px 10px;
  padding-bottom: 0px;
  left: 74%;
  top: 17.2vh;
  z-index: 1;
  text-align: center;
  text-decoration: none;
  font-size: 1.25em;
  font-weight: light;
  font-family: Georgia, Times, 'Times New Roman', serif;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  border-top-right-radius: 0px;
  border-top-left-radius: 0px;
  border-bottom: solid 2px #8bbcff;
  color: rgb(5, 74, 77);
  background-color: white;
}

#projectonelink:hover{
  background-color:#ccc;
}

#projecttwo{
  position: absolute;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  top: 11.5vh;
  margin-top: 0px;
  margin-left: 33.5vw;
  border-bottom: 15px solid #cae0ff;
  border-radius: 10px;
  background-color: rgb(255, 255, 255);
}

#projecttwoimage{
  position: absolute;
  display: flex;
  top: 0px;
  width: 30vw;
  height: 28.5vh;
  z-index: 1;
  background: url(GroceryList-Opera10_10_20232_09_13PM.png) no-repeat;
  background-size: cover;
  border-top-right-radius: 7px;
  border-top-left-radius: 7px;
  border-bottom-left-radius: 2px;
  border-bottom-right-radius: 2px;
}

#projecttwodesc{
  position: absolute;
  padding: 1vh;
  margin: 1vh auto;
  width: 25vw;
  height: 16vh;
  top: 18.5vw;
  left: 6%;
  font-size: .9em;
  border-radius: 10px;
  border-bottom: 2px solid grey;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-weight: bold;
  background-color: rgb(248, 248, 248);
  color: #4f90b6;
}

#projecttwolink{
  position: absolute;
  margin: 11vh auto;
  margin-bottom: 0px;
  height: 4vh;
  padding: 5px 10px;
  padding-bottom: 0px;
  left: 74%;
  top: 17.2vh;
  z-index: 1;
  text-align: center;
  text-decoration: none;
  font-size: 1.25em;
  font-weight: light;
  font-family: Georgia, Times, 'Times New Roman', serif;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  border-top-right-radius: 0px;
  border-top-left-radius: 0px;
  border-bottom: solid 2px #8bbcff;
  color: rgb(5, 74, 77);
  background-color: white;
}

#projecttwolink:hover{
  background-color:#ccc;
}

#projectthree{
  position: absolute;
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  top: 11.5vh;
  margin-top: 0px;
  margin-left: 66vw;
  border-bottom: 15px solid #cae0ff;
  border-top-right-radius: 0px;
  border-radius: 10px;
  background-color: rgb(255, 255, 255);
}

#projectthreeimage{
  position: absolute;
  display: flex;
  top: 0px;
  width: 30vw;
  height: 28.5vh;
  z-index: 1;
  background: url(KadenReynolds_Block_05-ZooProblem-Opera10_10_20232_18_54PM.png) no-repeat;
  background-size: cover;
  border-top-right-radius: 7px;
  border-top-left-radius: 7px;
  border-bottom-left-radius: 2px;
  border-bottom-right-radius: 2px;
}

#projectthreedesc{
  position: absolute;
  padding: 1vh;
  margin: 1vh auto;
  width: 25vw;
  height: 16vh;
  top: 18.5vw;
  left: 6%;
  font-size: .9em;
  border-radius: 10px;
  border-bottom: 2px solid grey;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-weight: bold;
  background-color: rgb(248, 248, 248);
  color: #4f90b6;
}

#projectthreelink{
  position: absolute;
  margin: 11vh auto;
  margin-bottom: 0px;
  height: 4vh;
  padding: 5px 10px;
  padding-bottom: 0px;
  left: 74%;
  top: 17.2vh;
  z-index: 1;
  text-align: center;
  text-decoration: none;
  font-size: 1.25em;
  font-weight: light;
  font-family: Georgia, Times, 'Times New Roman', serif;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  border-top-right-radius: 0px;
  border-top-left-radius: 0px;
  border-bottom: solid 2px #8bbcff;
  color: rgb(5, 74, 77);
  background-color: white;
}

#projectthreelink:hover{
  background-color:#ccc;
}

#zooname{
  padding-top: 20vh;
  margin-bottom: 23vh;
}


.projectdivs{
  position: relative;
  padding-top: 10px;
  width: 30vw;
  height: 55vh;
  background-color: rgb(218, 218, 218);
  border-radius: 7px;
}

.projectname{
  position: absolute;
  margin: 25vh 20px;
  width: 15vw;
  height: 4vh;
  padding-top: 3vh;
  left: 2%;
  text-align: center;
  font-size: 1.5em;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-weight: lighter;
  color: rgb(48, 112, 136);
  border-radius: 10px;
  border-bottom: solid 2px #8bbcff;
  background-color: white;
}

#discordimg{
  position: absolute;
  width: 50px;
  height: 50px;
  margin: 10px 44vw;
}

#discordlink:hover{
  background-color: rgb(0, 0, 0);
  border-radius: 0px;
}

#githubimg{
  position: absolute;
  width: 50px;
  height: 50px;
  margin: 10px 49vw;
}

#redditimg{
  position: absolute;
  width: 50px;
  height: 50px;
  margin: 10px 54vw;
}

#formdiv{
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  margin: 5vh auto;
  width: 40vw;
  height: 65vh;
  padding-left: 5vw;
  padding-right: 2vw;
  margin-left: 25%;
  background-color: rgba(172, 192, 255, 0.15);
  border-radius: 5px;
}

#formheader{
  position: relative;
  top: 1vh;
  font-size: 4em;
  font-weight:500;
  font-family: Georgia, Times, 'Times New Roman', serif;
  color: rgb(224, 244, 253);
  text-shadow: 3px 1px 2px rgb(23, 102, 204);
}

#contactform{
  position: flex;
  justify-content: flex-start;
  align-items: center;
  margin-top: 13vh;
} 

.labels{
  font-size: 1.3em;
  font-weight: light;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  /* color: rgb(86, 86, 118); */
  color: rgb(224, 244, 253);
  text-shadow: 2px 1px 2px rgb(14, 53, 104);
  -webkit-text-stroke-width: .2px;
  -webkit-text-stroke-color: black;
}

.forminputs{
  width: 14vw;
  height: 3.5vh;
  display: block;
  padding-right: 5vw;
  margin-top: .5vh;
  margin-bottom: 3vh;
  box-sizing: border-box;
  border: none;
  border-bottom: 4px solid #8bbcff;
  border-radius: 4px;
  background-color: #ffffff;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-weight: bold;
  color: rgb(0, 6, 97);
}

#messageheader{
  margin-bottom: .5vh;
  font-size: 1.3em;
  font-weight: lighter;
}

textarea{
  width: 20vw;
  height: 20vh;
  padding: 7px;
  box-sizing: border-box;
  border: none;
  border-bottom: 4px solid #8bbcff;
  border-radius: 4px;
  background-color: #ffffff;
  resize: none;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-weight: bold;
  color: rgb(0, 6, 97);
}

#submitbtn{
  margin-top: 3vh;
  padding: 0px;
  width: 8vw;
  height: 4vh;
  text-align: center;
  font-size: 1.5em;
  font-weight: light;
  background-color: #ffffff;
  border-bottom: 4.5px solid #8bbcff;
  border-radius: 10px;
  /* color: rgb(5, 74, 77); */
  color: rgb(100, 142, 255);
}

#submitbtn:hover{
  background-color: #b1d2ff;
  font-weight:600;
}

#congratsheader{
  margin-top: 0vh;
  font-size: 4em;
  text-align: center;
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  color: rgb(65, 179, 255);
  text-shadow: 3px 3px 3px rgb(0, 0, 0);
  -webkit-text-stroke-width: 2px;
  -webkit-text-stroke-color: black;
}

#recievedheader{
  font-size: 1.5em;
  text-align: center;
  font-family:Tahoma, Geneva, Verdana, sans-serif;
  color: rgb(65, 179, 255);
  text-shadow: 3px 3px 3px rgb(0, 0, 0);
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: black;
}

footer{
  position: fixed;
  z-index: 2;
  padding: 0;
  margin: 0px auto;
  left: 0px;
  bottom: 0px;
  width: 100vw;
  height: 8vh;
  background-color: rgba(255, 255, 255,.95);
}

@media all and (max-width: 1000px){
  #logo{
    font-size: 1em;
    margin: 0px;
    justify-content: flex-start;
    align-items: flex-start;
  }
  #logoname{
    visibility: hidden;
    content: "KR";
  }
  #logoname::after{
    visibility: visible;
    content: "KR";
    text-align: right;
  }
  #formdiv{
    width: 80vw;
    height: 80vh;
    margin: 10vh 0px;
  }
  .forminputs{
    width: 45vw;
    padding: 0px;
    margin-left: 0%;
  }
  textarea{
    width: 45vw;
    padding: 0px;
    margin-left: 0%;
  }
  #submitbtn{
    width: 18vw;
    padding: 0px;
    margin-left: 0%;
  }
  footer{
    width: 100vw;
    height: 8vh;
    margin: 0px 0px;
    padding: 0px 0px;
  }
  #discordimg{
    width: 30px;
    height: 30px;
    margin: 10px 29vw;
  }
  #githubimg{
    width: 30px;
    height: 30px;
  }
  #redditimg{
    width: 30px;
    height: 30px;
    margin: 10px 69vw;
  }
}

@media all and (max-width: 600px){
  #divone{
    background-size: 10%;
  }
  #formdiv{
    width: 99vw;
    height: 99vh;
    justify-content: flex-start;
    margin: 10vh 0px;
    padding: 5px;
  }
  #formheader{
    font-size: 2em;
  }
  .forminputs{
    width: 60vw;
    padding: 0px;
    margin-left: 0%;
  }
  textarea{
    width: 60vw;
    padding: 0px;
    margin-left: 0%;
  }
  #links{
    width: 90vw;
    margin-left: 85px;
  }
  .navlinks{
    font-size: 1em;
    padding: 20px 6px;
  }
  #submitbtn{
    font-size: 1em;
    width: 20vw;
  }
  footer{
    margin: 2.5vw;
  }
}

@media all and (max-width: 400px){
  .forminputs{
    width: 45vw;
    padding: 0px;
    margin-left: 0%;
  }
  textarea{
    width: 45vw;
    padding: 0px;
    margin-left: 0%;
  }
}